/TZ
/iSalaryPrototype
ipch

iSalary/Win32
iSalary/iSalary/Debug
iSalary/iSalary/Release
iSalary/iSalary/GeneratedFiles
iSalary/iSalary.suo
iSalary/iSalary.sdf
iSalary/iSalary.opensdf

iSalary/iSalary/*.vcxproj
iSalary/iSalary/*.vcxproj.*
iSalary/iSalary/*.log