/TZ
/iSalaryPrototype
ipch
*.sdf
*.opensdf
iSalary/Win32/*
iSalary/iSalary/Debug/*
iSalary/iSalary/Release/*
/GeneratedFiles
iSalary/iSalary.suo
iSalary/iSalary/*.vcxproj
iSalary/iSalary/*.vcxproj.*
iSalary/iSalary/*.log